* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
}

.toolbox-cont {
    height: 5rem;
    background-color: #A2B38B;
    display: flex;
    align-items: center;
}

.toolbox-priority-cont {
    height: 3rem;
    background-color: rgb(166, 175, 182);
    width: 18rem;
    margin-left: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.action-btn-cont {
    background-color: lightgray;
    height: 3rem;
    width: 10rem;
    margin-left: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.color {
    /* height: ; */
    /* background-color: black; */
    height: 1.5rem;
    width: 3rem;
}

.lightpink {
    background-color: lightpink;
}

.blue {
    background-color: lightskyblue;
}

.green {
    background-color: rgb(157, 235, 157);
}

.black {
    background-color: black;
}

.add-btn {
    font-size: 1.5rem;
}

.remove-btn {
    font-size: 1.5rem;
}

.task-board{
    background-color: rgb(82, 143, 86);
    height: 18rem;
    width: 33rem;
    margin-left: 25rem;
    margin-top: 6rem;
    display: flex;
    /* justify-content: ; */
    align-items: flex-end;
}

.enter-task{
    background-color: tomato;
    height: 18rem;
    width: 9rem;
}

.modal-cont{
    background-color: lightgrey;
    height: 50vh;
    width: 50vw;
    display: flex;
    margin-left: 20rem;
    margin-top: 7rem;
    
}

.textarea-cont{
    outline:none;
    resize: none;
    border: none;
    background-color:lightyellow;
    height: 100%;
    width: 75%;
    font-size: 2rem;
    padding: 2rem;
}

.priority-color-cont{

    height: 100%;
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}   
.priority-color{
    height: 3rem;
    width: 5rem;
}